
.clearTitle{
    width: 638px;
    height: 195px;
    padding: 40px 198px 39px;
    background-color: #008938;
    margin-bottom: 50px;

}

.clearTitle span{
    width: 323px;
  height: 116px;
  font-family: S-CoreDream-6;
  font-size: 145px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: center;
  color: #fff;

}

.clearOk{
    /* width: 573px; */
    height: 56px;
    font-family: S-CoreDream-5;
    font-size: 50px;
    font-weight: 500;
     line-height: 1.4;
    text-align: center;
    color: #000;
}
