.ingContainer{
    height: 1080px;
    border-right:3px solid #e6e6e6;
  
}
.ingTitle{
    width: 638px;
    height: 195px;
    padding: 40px 198px 39px;
    background-color: #97d700;
    margin-bottom: 50px;
    
}

.ingTitle span{
    width: 242px;
    height: 116px;
    font-family: S-CoreDream-6;
    font-size: 145px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #000;
  
}
.ingOk span{
    width: 381px;
    height: 56px;
    font-family: S-CoreDream-5;
    font-size: 50px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: left;
    color: #000;
}