.orderContainer{
    height: 1080px;
    border-right:3px solid #e6e6e6;
  
}
.orderTitle{
    width: 638px;
    height: 195px;
    padding: 40px 157px 39px 158px;
    background-color: #f2b700;
    margin-bottom: 50px;
}

.orderTitle span{
    width: 323px;
    height: 116px;
    font-family: S-CoreDream-6;
    font-size: 145px;
    font-weight: bold;
    line-height: 1.38;
    color: #000;
}

.orderOk span{
    width: 420px;
    height: 56px;  
    font-family: S-CoreDream-5;
    font-size: 50px;
    font-weight: 500;
    line-height: 1.4;
    color: #000;
}